!**/.env.example
*.egg-info
*.py[oc]
**/__pycache__/
**/.coverage
**/.DS_Store
.env*
**/.idea/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/.venv
**/.vscode/
**/build/
**/coverage.xml
**/dist/
**/Thumbs.db
**/wheels/
